h1{
    font-size: 24px;
}

button:hover {
    cursor: pointer;
}

.container{
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.header-container, .main-container {
    padding: 0 1.5rem 0 1.5rem;
}

.row1,.row2, .row3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px;
    padding: 25px 2rem;
    margin-bottom: 1rem;
}

/** header section **/
.header-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 10px;
}

.options{
    gap: 10px;
}

.options .fa{
    font-size: 1.2rem;
    color: black;
}

.options button {
    background: none;
}

.options .fa:hover{
    color: teal;
}

/** main body section **/
.main-container {
    display: flex;
    flex-direction: column;
}

/** row 1 section **/
/* check in elements */
.check-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.check-in-img{
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* calendar elements */
.calendar-container button{
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

/** row 2 section **/
.row2{
    background: linear-gradient(to right, #003366, #008080);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 350px;
    color: white
}

.check-in-container p {
    margin-bottom: 2rem;
}

.check-in-container button{
    margin-top: 1em;
}

.mood-container {
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.mood-label {
    font-size: 0.875rem;
    color: #4b5563; /* Tailwind's gray-600 */
}

.mood-bg-very-sad {
    background-color: #bfdbfe; /* light blue */
}
.mood-bg-sad {
    background-color: #cfe0f5;
}
.mood-bg-neutral {
    background-color: #e5e7eb;
}
.mood-bg-happy {
    background-color: #d1fae5;
}
.mood-bg-very-happy {
    background-color: #fef3c7;
}


@keyframes fadeScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-scale {
    animation: fadeScale 0.5s ease-in-out;
}

/** quote section **/
.quote-container blockquote {
    font-style: italic;
    margin: 5em;
    padding: 2em;
    background: white;
    color:  #008080;
    border-left: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.quote-container blockquote footer {
    margin-top: 0.5em;
    text-align: right;
    font-weight: bold;
}
