* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f6f8;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    gap: 40px; 
    box-sizing: border-box; 
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/*
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%; 
} */

.image-section img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-left: 0;
    margin-bottom: 0;
}

.login-section {
    width: 350px; 
    padding: 30px; 
    margin-right: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box; 
}


h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-note {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.options input[type="checkbox"],
.options label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-wrap label {
    display: inline;
}

.forgot-password {
    font-size: 12px;
    text-decoration: none;
    color: teal;
}

button {
    width: 100%;
    background: teal;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
}

button:hover {
    background: #008080;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

.signup a {
    color: teal;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}