.link-container {
    padding: 20px;
    max-width: 600px; 
    margin: 0 auto;
}

h2 {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

p {
    margin-bottom: 16px;
    color: #555;
}

#rs {
    padding: 16px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    margin-bottom: 16px; 
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

#rs:hover {
    transform: scale(1.02);
}

li {
    margin-bottom: 8px;
}

a:hover {
    color: darkcyan;
}


h3 {
    font-size: 20px; 
    font-weight: 600; 
    margin-bottom: 15px;
    margin-top: 15px;
}

a {
    color: teal; 
    text-Decoration: none; 
    font-Weight: 500;
}

ul {
    list-style-type: none;
}